<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body>
    <div class="invalid-page">
      <h1>Invalid URL Page</h1>
      <p>
        You are trying to hit an Invalid Url. Try something like that :
        http://127.0.0.1:3000/all/city-name
      </p>
    </div>
  </body>
  <script>
    window.onload = function () {
      alert("This is an invalid URL");
    };
  </script>
</html>
